@CHARSET "ISO-8859-1";

.container, .container-fluid{
	padding-right: 15px;
	padding-left: 15px;
	background-color: #f9f9f9;
}

.row{
	margin-bottom: 20px;
}

.header-page{
	background-image: url(../estilos/images/background1.png);
	background-repeat: repeat-x;
	height: 73px;
}
.footer-page{
	background-image: url(../estilos/images/background1.png);
	background-repeat: repeat-x;
	height: 73px;
}
.logo{
	background-image: url(../estilos/images/logo_pegapa.png);
}
[class*="col-"], header, footer, nav, aside, section, div[role="main"]{
	padding-top: 15px;
	padding-bottom: 15px;
	/*background-color: #f5f5f5;
	background-color: rgba(86, 61, 124,.15 );*/
	/*border: 1px solid #ddd;
	border:1px solid rgba(86, 61, 124,.2 );*/
	text-align: center;
	
}
div[role="main"]{
	background-color: #fff;
}

div[role="main"], nav, aside{
/*	height: 400px;*/
}
section[role="application"]{
	margin-right: 0;
}
.sub-section{
	/*float:left;*/
	height:inherit;
}

.container-inferior{
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
}

.border-fieldset{
	border: 1px groove #ddd;
    padding: 0 1.4em 0.4em 1.4em;
   /* margin: 0 -1em 1.5em;*/
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
.border-fieldset legend{
	width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-size: inherit;
}

/*PAGINA INICIAL DO USUARIO*/

.tile{
	box-shadow: 1px 1px 1px black;
	-webkit-box-shadow: -2px -3px 7px black;
	-moz-box-shadow: -2px -3px 7px black;
}
.tile:hover{
	transition-duration: 0.4s;
    transition-property: box-shadow, transform;
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

#tile1{
    background: #E0E0E0;
    height: 185px;
    border-radius: 8px;
}
#tile2{
    background: #E0E0E0;
    height: 185px;
    border-radius: 8px;
}
#tile3{
    background: #E0E0E0;
    height: 185px;
    border-radius: 8px;
}

.dynamicTile .col-sm-4 .col-xs-4{
    padding:5px;
}

/* RESULTADO PESQUISA  */
.figure-prof{
	float:right;
	width:30%;
}
.figure-prof img{
	width : 100%;
}
.conteudo-profissional{
	width: 68%;
	float:left;
	line-height: 19px;
}
.clear{
	clear: both;
}
.span-right{
	float:right;
}
.commentText{
	margin-bottom: 5px; 
	float:left; 
	width: 80%;
	resize:none;
	font-size:11px;
}
::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder {
   font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {  
   font-style: italic;
}
.main-icon{
	height: 92%;
} 
 
.main-icon i{
	font-size: 7em;
	top:19%;
}
@media(max-width: 400px){
	.main-icon i{
		font-size: 4em;
		top:19%;
	}
	#tile1, #tile2, #tile3{
		height: 100px;
	}
}


/** CADASTRO DO PROFISSIONAL */
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}