@CHARSET "ISO-8859-1";

textarea{
	resize:none;
}



.container, .container-fluid{
	padding-right: 15px;
	padding-left: 15px;
	background-color: white;
}

.row{
	margin-bottom: 20px;
}

.header-page{
/*	background-image: url(../estilos/images/background1.png);*/
	background-repeat: repeat-x;
	height: 90px;
	background-color: #FFA500;
}
.footer-page{
	/*background-image: url(../estilos/images/background1.png);
	background-repeat: repeat-x;
	height: 73px;*/
	background-color: #FFA500;
	margin-bottom: 0;
    min-height: 100px;
}
.logo{
	background-image: url(../estilos/images/logo_pegapa.png);
}
[class*="col-"], header, footer, nav, aside, section, div[role="main"]{
	padding-top: 15px;
	padding-bottom: 15px;
	/*background-color: #f5f5f5;
	background-color: rgba(86, 61, 124,.15 );*/
	/*border: 1px solid #ddd;
	border:1px solid rgba(86, 61, 124,.2 );*/
	text-align: center;
	
}
div[role="main"]{
	background-color: #fff;
}
.search-box-professional{
	background-color: #e0e0e0 ;
	/*border: 3px solid white;*/
	margin-bottom: 0
}
.lupe{
	background-image:  url(/pegapa/estilos/images/loupe.png)
}
div[role="main"], nav, aside{
/*	height: 400px;*/
}
.orange{
	background-color:#FF7A01 ;
	color:white;
}
.orange:hover{
	background-color:#EB8305;
}
section[role="application"]{
	margin-right: 0;
}
.sub-section{
	/*float:left;*/
	height:inherit;
}
.sub-section::after{
	content: " ";
}
.container-inferior{
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
}

.border-fieldset{
	border: 1px groove #ddd;
    padding: 0 1.4em 0.4em 1.4em;
   /* margin: 0 -1em 1.5em;*/
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
.border-fieldset legend{
	width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-size: inherit;
}

/*PAGINA INICIAL DO USUARIO*/

.tile{
	box-shadow: 1px 1px 1px black;
	-webkit-box-shadow: -2px -3px 7px black;
	-moz-box-shadow: -2px -3px 7px black;
}
.tile:hover{
	transition-duration: 0.4s;
    transition-property: box-shadow, transform;
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

#tile1{
    background: #E0E0E0;
    height: 185px;
    border-radius: 8px;
}
#tile2{
    background: #E0E0E0;
    height: 185px;
    border-radius: 8px;
}
#tile3{
    background: #E0E0E0;
    height: 185px;
    border-radius: 8px;
}

.dynamicTile .col-sm-4 .col-xs-4{
    padding:5px;
}

/* RESULTADO PESQUISA  */
.figure-prof{
	/*float:right;*/
	width:30%;
}
.figure-prof img{
	width : 100%;
}
.conteudo-profissional{
	width: 100%;
	line-height: 19px;
}
.clear{
	clear: both;
	overflow: auto;
	max-height:230px;
}
.span-right{
	float:right;
	font-size: 10pt;
    width: 20%;
}
.commentText{
	margin-bottom: 5px; 
	float:left; 
	width: 79%;
	resize:none;
	font-size:11px;
	height:45px;
}
::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder {
   font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {  
   font-style: italic;
}
.main-icon{
	height: 92%;
} 
 
.main-icon i{
	font-size: 7em;
	top:19%;
}

	/*background-image: url("../estilos/images/bground.png");*/
	

@media(max-width: 400px){
	.main-icon i{
		font-size: 4em;
		top:19%;
	}
	#tile1, #tile2, #tile3{
		height: 100px;
	}
}


/** CADASTRO DO PROFISSIONAL */
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

/* VISUALIZAR SOLICITAÇÕES*/
.recusar{
	float: right; 
	height: 4.13em; 
	margin-top: 0; 
	width: 70%;
}
.aceitar{
	float: right; 
	width: 70%; 
	height: 4.13em;
}
.ender{
	margin-bottom: 0;
	font-size:85%;
	width:50%;
	float:left;
}
.container-main{
	width:80%; 
	margin: 0 auto 10px; 
}
.header-page::after{
	content: " ";
}
.red{
	color:red;
}
.green{
	color:green;
}
.select-error{
	float: left;
    font-size: 90%;
    font-weight: normal;
    text-align: left;
}
.green-success{
	/* CSS used here will be applied after bootstrap.css */
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.red-success{
	/* CSS used here will be applied after bootstrap.css */
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #C9302C;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}