@CHARSET "ISO-8859-1";

.img-logo{
	border-radius: 5px;
    border-top-width: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.view img{
	padding-top:20px; 
	width:170px;
}

.img-lista-solicitacoes{
	width:100px !important;
	padding-top:25px !important; 
}
.historico-solicitacoes{
	margin-top:-10px !important; /*TODO - DEPOIS TENTAR REMOVER ESSA MARGEM NEGATIVA*/
	padding: 0px!important;
}

.name-header{
	float:right; 
	height:100%; 
	padding-right: 10px; 
	line-height: 40px;
}

.box-profissional{
	width:60%;
	min-width: 600px;
} 

textarea{
	resize:none;
}

.search-for{
	padding-top:0px !important;
	padding-bottom: 0px !important;
	padding-right:0px;
}

.container, .container-fluid{
	padding-right: 15px;
	padding-left: 15px;
	background-color: white;
}

.row{
	margin-bottom: 20px;
}

.header-page{
	background-repeat: repeat-x;
	height: 90px;
	background-color: #FFA500;
}
.footer-page{
	background-color: #FFA500;
	margin-bottom: 0;
    min-height: 76px;
}
.logo{
	background-image: url(../estilos/images/logo_pegapa.png);
}
[class*="col-"], header, footer, nav, aside, section, div[role="main"]{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}
div[role="main"]{
	background-color: #fff;
	min-height:323px;
}
.search-box-professional{
	background-color: #e0e0e0 ;
	/*border: 3px solid white;*/
	margin-bottom: 0
}
.lupe{
	background-image:  url(/pegapa/estilos/images/loupe.png)
}

.orange{
	background-color:#FF7A01 ;
	color:white;
}
.orange:hover{
	background-color:#EB8305;
}
section[role="application"]{
	margin-right: 0;
}
.sub-section{
	/*float:left;*/
	height:inherit;
}
.sub-section::after{
	content: " ";
}
.container-inferior{
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
}

.border-fieldset{
	border: 1px groove #ddd;
    padding: 0 1.4em 0.4em 1.4em;
   /* margin: 0 -1em 1.5em;*/
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
.border-fieldset legend{
	width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-size: inherit;
}

/*PAGINA INICIAL DO USUARIO*/

.tile{
	box-shadow: 1px 1px 1px black;
	-webkit-box-shadow: -2px -3px 7px black;
	-moz-box-shadow: -2px -3px 7px black;
}
.tile:hover{
	transition-duration: 0.4s;
    transition-property: box-shadow, transform;
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

#tile1{
    background: #E0E0E0;
    height: 165px;
    border-radius: 8px;
}
#tile2{
    background: #E0E0E0;
    height: 165px;
    border-radius: 8px;
}
#tile3{
    background: #E0E0E0;
    height: 165px;
    border-radius: 8px;
}

.dynamicTile .col-sm-4 .col-xs-4{
    padding:5px;
}

/* RESULTADO PESQUISA  */
.figure-prof{
	/*float:right;*/
	width:30%;
}
.figure-prof img{
	width : 100%;
}
.conteudo-profissional{
	width: 40%;
	line-height: 19px;
}
.clear{
	clear: both;
	overflow: auto;
	max-height:230px;
}
.span-right{
	float:right;
	font-size: 10pt;
    width: 20%;
}
.commentText{
	margin-bottom: 5px; 
	float:left; 
	width: 79%;
	resize:none;
	height:45px;
}
::-webkit-input-placeholder {
   font-style: italic;
}


:-ms-input-placeholder {  
   font-style: italic;
}
.main-icon{
	height: 92%;
} 


.main-icon i{
	font-size: 7em;
	top:19%;
}

	

@media(max-width: 400px){
	.main-icon i{
		font-size: 4em;
		top:19%;
	}
	#tile1, #tile2, #tile3{
		height: 100px;
	}
}


/** CADASTRO DO PROFISSIONAL */
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

/* VISUALIZAR SOLICITAÇÕES*/
.recusar{
	float: right; 
	height: 50%;
	margin-top: 0; 
	width: 70%;
}
.aceitar{
	float: right; 
	width: 70%; 
	height: 50%;
}
.ender{
	margin-bottom: 0;
	font-size:85%;
	width:50%;
	float:left;
}
.container-main{
	width:80%; 
	margin: 0 auto 10px; 
}
.header-page::after{
	content: " ";
}
.red{
	color:red;
}
.green{
	color:green;
}
.select-error{
	float: left;
    font-size: 90%;
    font-weight: normal;
    text-align: left;
}
.green-success{
	/* CSS used here will be applied after bootstrap.css */
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.red-success{
	/* CSS used here will be applied after bootstrap.css */
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #C9302C;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.label-textarea{
	background-color: #eee; 
	border-radius:6px 6px 0 0; 
	height: 30px; 
	color: #555; 
	font-size: 14px; 
	line-height: 30px;"
}
.input-custom-group{
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
}
.professional-box-intern{
	overflow:hidden; 
	margin-right:5px; 
	border-radius:5px;
}

.professional-box-intern:hover{
	background-color: rgb(245, 245, 245);
	cursor:pointer;
	box-shadow: 0 0 2px 1px #ffa500;
}
.img-view-solic{
	background:  url(/pegapa/estilos/images/oie_transparent.png);
	background-repeat: no-repeat;
	background-color: transparent;
}

.view img, .view i{
	-webkit-filter: grayscale(100%);
}
.view img:hover, .view i:hover{
	-webkit-filter: grayscale(0%);
	transition: 1s;
}
.title-span{
	color:gray;
}


/*Aqui ficarao as media-queries para aperfeiçoamento do sistema*/



@media (max-width: 320px) {
	.view img{
		width:100px;
		padding-top: 15px;
	}
	
	.img-lista-solicitacoes{
		width:75px !important;
		padding-top: 15px !important;
	}
	.historico-solicitacoes{
		width:100px !important;
		padding:0px !important;
		margin-top:0px !important;
	}
	
	.view i{
		font-size : 65px;
	}
	.name-header{
		display:none ;
	}
	.tile .title-span{
		display:none !important;
	}
}

@media ( max-width : 600px) {
	label {
		font-size: 0.7em !important;
	}
	.historico-solicitacoes {
		margin-top: 0px !important;
		padding:0px !important;
	}
}
@media (min-width: 770px) and (max-width: 1000px) {
	.historico-solicitacoes {
		margin-top: -20px!important;
	}
	
}

@media (max-width: 1080px) {
	#box-profissional{
		width:95%;
		min-width: 600px;
	} 
	
}

/*FIM DAS MEDIA QUERIES*/
